/* Green */
*{
	border-radius: 0 !important;
	box-shadow: none !important;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false) !important;
	text-shadow: none !important;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal !important;
	color: #666;
}

a {
	color: #41bb19;
	text-decoration: none;
}

a:hover {
	color: #379e15;
	text-decoration: none;
}

blockquote {
	border-left: 4px solid #41bb19;
}

.color {
	color: #41bb19;
}

header {
	margin-top: 10px;
}

header .logo {
	padding: 15px 0;
}

header .logo h1 a {
	color: #666;
}

header form {
	text-align: center;
	max-width: 270px;
	margin: 0 auto;
	width: 260px;
	padding-top: 40px;
}

.navbar .btn {
	background: #41bb19 !important;
}

.navbar .btn:hover {
	background: #379e15 !important;
}

.navbar-form {
	font-size: 24px;
	margin-top: 10px;
}

.carousel {
	border-top: 3px solid #41bb19;
	border-bottom: 3px solid #41bb19;
	padding: 15px 70px;
	background-color: #fafafa;
	background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
		to(#f2f2f2) );
	background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
	background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
	background-repeat: repeat-x;
}

.carousel h2 {
	margin-left: 50px;
}

/* ---------------------------------------------------------------------- */
	/*	widgets
/* ---------------------------------------------------------------------- */
.box,.box h3 {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 5px 10px;
	display: block;
}

.box h3,#model-head {
	text-align: left;
	box-sizing: content-box;
	background-color: #363636;
	background-image: -moz-linear-gradient(top, #444, #222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444),
		to(#222) );
	background-image: -webkit-linear-gradient(top, #444, #222);
	background-image: -o-linear-gradient(top, #444, #222);
	background-image: linear-gradient(to bottom, #444, #222);
	background-repeat: repeat-x;
	border-color: #222 #222 black;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#ff444444', endColorstr = '#ff222222', GradientType = 0 );
	filter: progid : DXImageTransform.Microsoft.gradient ( enabled = false );
	color: #F6F6F6;
	text-shadow: 0 1px black, 0 0 .2em rgba(0, 0, 0, .7);
	font-size: 14px;
	margin: -10px -10px 10px -10px;
	-webkit-border-radius: 3px 3px 0 0;
	-khtml-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}

.box {
	float: none;
	position: relative;
	margin: 4px 0 16px -10px !important;
	width: auto;
	min-height: 150px !important;
	padding-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #AAA;
	text-shadow: 0 1px rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.box h3>i {
	top: 1px;
	font-size: 19px;
	margin-top: 9px;
	margin-right: 3px;
}

.box form label,.box p,.pin p,.box input.disabled {
	font-size: 11px;
	display: block;
	width: 100%;
	margin: 5px 0 5px 1px;
	color: #666;
	font-weight: bold;
	border: 0;
	background: transparent;
	box-shadow: none;
}

.box li {
	display: block;
	position: relative;
	padding: 5px 0;
	margin: -2px -2px 2px -25px;
	font-size: 11px;
	font-weight: bold;
	border-bottom: 1px dashed #A8A8A8;
}

.box form {
	margin-bottom: 0;
	margin-top: 30px
}

.box button.btn-inverse {
	width: 100%;
}

.box button.btn,.box a.btn {
	margin-top: 14px;
	font-size: 14px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.box input.disabled {
	padding: 0;
	cursor: default;
}

#main {
	padding: 0 10px;
}

#main .h2_title {
	margin: 30px 0 6px;
	font-family: inherit;
	text-rendering: optimizelegibility;
	border-bottom: 1px solid #CCC;
}

#main h3 {
	font-size: 14px;
}

#main .entry h2{
font-size:24px;
line-height:40px;
color: #777;
}

#main .entry h2 a, #main .entry h2 a:visited, #main .entry h2 a:hover{
text-decoration:none;
color:#777;
}

#main .meta{
border-top:1px solid #f7f7f7;
border-bottom:1px solid #f7f7f7;
margin:8px 0px;
padding:5px 8px;
color:#777;
text-transform:uppercase;
font-size:11px;
}

#main .meta a, #main .meta a:visited{
color:#555;
}

#main .meta i{
margin-left:3px;
margin-right: 3px;
}

#main .bthumb{
margin:10px 0px 5px 0px;
padding:1px;
box-shadow:0px 0px 1px #777;
}

#main .bthumb2{
float:left;
margin-top:8px;
margin-right:8px;
border: 1px solid #aaa;
}

#main .bthumb2 img{
margin:0px;
width: 180px;
max-width: 300px;
max-height: 300px;
}

#main .entry{
margin-bottom:25px;
padding-bottom:15px;
border-bottom:1px solid #eee;
font-size: 13px;
line-height: 25px;
}

#main .entry p{
	margin: 0px 0px 4px 0px;
}

#main .post-foot{
	border-left: 2px solid #eee;
	padding: 15px 15px;
}

#main .post-foot .social{
	margin-top: 0px;
}


btn-success {
	background: #41bb19;
}

/* Footer */
footer {
	background: #fafafa;
	color: #555;
	font-size: 13px;
	line-height: 23px;
}

footer a {
	color: #777;
}

footer a:hover {
	color: #666;
}

footer h4 {
	color: #666;
	margin-bottom: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid #dfdfdf;
}

footer hr {
	margin-top: 4px !important;
	margin-bottom: 4px !important;
}

footer ul {
	list-style-type: none;
	margin-left: 0px;
}

footer ul li {
	padding: 3px 0px;
}

footer .widgets {
	margin-top: 20px;
}

footer .copy {
	border-top: 1px solid #ddd;
	padding: 10px 0px;
	margin-top: 10px;
}

.copy {
	padding: 0;
	font-size: 11px;
}

.social {
	font-size: 25px;
}

.social .share {
	font-size: 14px;
}

.widget {
	position: relative;
	clear: both;
	width: auto;
	margin-bottom: 2em;
	overflow: hidden;
	font: 11px/1.7em 'Open Sans', Verdana, Tahoma;
}

.widget-header {
	position: relative;
	height: 40px;
	line-height: 40px;
	background: #E9E9E9;
	background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FAFAFA),
		color-stop(100%, #E9E9E9) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	/* Opera11.10+ */
	background: -ms-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
	/* IE10+ */
	background: linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* W3C */
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr =
		'#FAFAFA', endColorstr = '#E9E9E9' );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
	border: 1px solid #D5D5D5;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	-webkit-background-clip: padding-box;
}

.widget-header h3 {
	position: relative;
	top: 2px;
	left: 10px;
	display: inline-block;
	margin-right: 3em;
	font-size: 14px;
	font-weight: 800;
	color: #555;
	line-height: 18px;
	text-shadow: 1px 1px 2px rgba(255, 255, 255, .5);
}

.widget-header [class ^="icon-"],.widget-header [class *=" icon-"] {
	display: inline-block;
	margin-left: 13px;
	margin-right: -2px;
	font-size: 16px;
	color: #555;
	vertical-align: middle;
}

.widget-content {
	padding: 20px 15px 15px;
	background: #FFF;
	border: 1px solid #D5D5D5;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.widget-header+.widget-content {
	border-top: none;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.widget-nopad .widget-content {
	padding: 0;
}

/* Widget Content Clearfix */
.widget-content:before,.widget-content:after {
	content: "";
	display: table;
}

.widget-content:after {
	clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
.widget-content {
	zoom: 1;
}

/* Widget Table */
.widget-table .widget-content {
	padding: 0;
}

.widget-table .table {
	margin-bottom: 0;
	border: none;
}

.widget-table .table tr td:first-child {
	border-left: none;
}

.widget-table .table tr th:first-child {
	border-left: none;
}